*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
  }

  #app {
    background: rgba(136, 14, 14, 0.247);
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  
.new_post{
    width: 680px;
  background: rgba(19, 81, 216, 0.541);
  display: flex;
  flex-direction: column;
  align-items: center;

    border: 1px solid rgb(19, 90, 59);
    margin-top: 20px;
    border-radius: 10px;
}